QScrollBar:vertical 
{
	width: 15px;
}

QScrollBar::up-arrow:vertical
{
	width: 8px;
}

QScrollBar::down-arrow:vertical
{
	width: 8px;
}

IncrementalSearchListBox--SearchLineEdit
{
	border: 1px solid gray;
	border-radius: 4px;
	min-height: 19px;
}

IncrementalSearchListBox--SearchLineEdit QLineEdit
{
	border: none;
	padding: 0 4px;
	margin-left: 2px;
}

IncrementalSearchListBox--SearchLineEdit QPushButton
{
	max-width: 15px;
	max-height: 15px;
	margin-right: 3px;
	border: none;
	background: none;
	image: url(btn_search.png);
	padding: 0px;
}

IncrementalSearchListBox--SearchLineEdit[hasText='true'] QPushButton
{
	border-radius: 2px;
	background: gray;
	image: url(btn_clear_search.png);
}



 IncrementalSearchListBox--SearchLineEdit QLabel
 {
	padding: 0px;
	margin: 2px 0 0 6px;
	font: italic;
	color: gray;
 }

IncrementalSearchListBox--SearchMenu
{
	border: 1px solid black;
}