# Tell Git to use its default newline-handling behaviour
* text=auto

# Force Windows-style line-endings for obvious text files
.gitattributes text eol=crlf
*.bpr   text eol=crlf
*.cfg   text eol=crlf
*.clr   text eol=crlf
*.cui   text eol=crlf
*.htm   text eol=crlf
*.html  text eol=crlf
*.ini   text eol=crlf
*.kbd   text eol=crlf
*.log   text eol=crlf
*.mcr   text eol=crlf
*.mnu   text eol=crlf
*.mpl   text eol=crlf
*.mpl   text eol=crlf
*.ms    text eol=crlf
*.qop   text eol=crlf
*.txt   text eol=crlf
*.xml   text eol=crlf


# Force some files to always be interpreted as binary
*.bak   binary
*.bmp   binary
*.gif   binary
*.jpg   binary
*.mat   binary
*.mce   binary
*.png   binary
*.tga   binary
*.tiff  binary
*.tmp   binary
*.vms   binary
*.xaml  binary


# Exclude default plugin-config files from being analysed by Linguist
ENU/plugcfg_ln/*/* linguist-vendored
