## Mac OS/X
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
._*


## IDE-specific
sftp-config.json
.project


## Windows
Desktop.ini
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
*.lnk


## Other
error_log
node_modules
components


## Project-specific
3DSMAX*_USRegInfo.html
20*_en-US_adlm.log
InfoCenter.*
maxscrpt.dsk
MXS_SciTE.recent
ENU/plugcfg_ln/ShaderFX/
