<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PluginDirectories>
    <string>C:\Program Files\Autodesk\3ds Max 2016\bin\assemblies</string>
  </PluginDirectories>
  <HandleExceptions>true</HandleExceptions>
  <ReloadSceneOnUnload>true</ReloadSceneOnUnload>
  <UnloadRemovedAssemblies>true</UnloadRemovedAssemblies>
  <LoadAddedAssemblies>true</LoadAddedAssemblies>
  <LoadAssembliesOnStartup>true</LoadAssembliesOnStartup>
  <RemotingPort>9998</RemotingPort>
  <AllowPluginUnloading>false</AllowPluginUnloading>
  <AllowRemoting>false</AllowRemoting>
</Configuration>